*{
    padding: 0px;
    margin: 0px;
    
    } 
    body{background: url(https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg) ,#2b3137;
    background-position:center;
    background-size:cover;
}
    .header-control{
        background-color:#24292E;
        z-index: 32;
        width:100%;
        height: 60px;
    }
    .control-align{
        width:1300px;
        height:300px;
       
    }
    .img-control{
        float: left;
    }
    .img-control img{
        width:50px;
        height: 50px;
        margin-top:5px;
        border-radius:100%;
        margin-left: 45px;
        
    
    }
    .navigation ul{
        display: inline-flex;
        list-style: none;
        color:white;
         
    }
    .navigation ul li{
        width:99px;
        margin:19px;
        
        
    }
    .navigation  li a{
        color:white;
    }
   
    .navigation ul li a{
        text-decoration: none;
        
    }
    .sub-menu{
        display: none;
    }
    .sub-menu ul li a{
        color:black;
    }
    .navigation ul li:hover .sub-menu{
        display:block;
        position: absolute;
        background: white;
        margin-top:15px;
        margin-left: -15px;


    }
    .navigation ul li:hover .sub-menu ul{
        display:block;
        margin: 10px;
    }
    #ss{
        float: right;
        margin-top:10px;
       
        margin-right: 100px;
        color:#3F4448;
        height: 20px;
             
    }
    #signin {
        margin-left: 20px;
        color:white;
        text-decoration: none;
      }
    .btn{
        margin-left: 10px;  
        background:transparent;
        color: white;
        height: 35px;
        width: 50px;
        border:1px solid;
        border-radius:6px;
    }
   
    .left{
        float:left;
        margin-top:200px;
        margin-left: 210px;
        width: 430px;
        font-family:arial;
        color:white;
        font-size:40px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    .left p{
        font-size: 20px;
        width: 480px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .account{
        background: white;
        width: 500px;
        float: right;
        margin-right: 250px;
        margin-top: 80px;
        border-radius: 3px;
    }
    .ipt{
    width: 450px;
    height:40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #95a5a6;

    margin-left: 15px;
}
    .pti{
        margin-top: 30px;
       
    }
    #aa{
        color: #6a737d;
        margin-bottom:50px;
        margin-top: 35px;
    }
    .account a{
        text-decoration: none;
    }
    .account p{
        margin-left: 15px;
    }
    .account input[type="submit"]{
        padding: 4px 25px;
        background: #28A745;
        border: 1px solid #28A745;
        border-radius: 5px;
        font-size: 25px;
        color:#fff;
        margin-top: 30px;
        margin-left: 15px;
        width: 450px;
        height: 60px;
      
    }